<footer>
  <div class="credits">
    Developed by MetalSnow |
    <a href="https://github.com/MetalSnow" target="_blank"
      >GitHub
      <img src="icons/github-icon.svg" alt="github-logo" class="github-logo" />
    </a>
  </div>
</footer>
