<footer>
  <div class="credits">
    Developed by MetalSnow |
    <a href="https://github.com/MetalSnow" target="_blank"
      >GitHub
      <img src="icons/github-icon.svg" alt="github-logo" class="github-logo" />
    </a>
  </div>
  <a
    href="https://www.flaticon.com/free-icons/my-profile"
    title="my profile icons"
    >My profile icons created by Nuricon - Flaticon</a
  >
</footer>
