<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Fit Club</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %> <% if(!locals.currentUser) {%>
    <a href="/sign-up">Sign up</a>
    <div>
      <p>Already have an account?</p>
      <a href="/log-in">Log in</a>
    </div>
    <%}else{ %>
    <h2>Welcome <%= currentUser.first_name %> <%= currentUser.last_name %></h2>
    <a href="/new-message">Create new message</a>
    <% } %> <%- include('partials/footer.ejs') %>
  </body>
</html>
