<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fit Club</title>
  </head>
  <body>
    <h2>Sign in</h2>
    <form method="post" action="/create-user">
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="firstName" />
      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="lastName" />
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" />
      <label for="confirmPassword ">Confirm Password :</label>
      <input type="password" id="confirmPassword " name="confirmPassword " />
    </form>
  </body>
</html>
