@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --cyan: #2b7fff;
  --dark-night: #1e2939;
  --light-oral: #ff637e;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    background-color: var(--dark-night);
    border-bottom: 1px solid rgb(231, 231, 231);
    border: none;

    & h1 {
      font-family: 'Knewave', Arial, sans-serif;
      letter-spacing: 3px;
      margin: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & a {
        color: var(--cyan);
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.6rem;
      }

      & img {
        width: 35px;
      }
    }

    & ul {
      display: flex;
      list-style: none;
      align-items: center;
      gap: 1rem;
      font-weight: 700;

      & .profile {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 1em;
        color: var(--light-oral);
        border-right: white 2px solid;
        padding-right: 14px;

        &:hover {
          color: #ffacba;
        }

        & img {
          background-color: white;
          border-radius: 50%;
          padding: 4px;
          width: 20px;
        }
      }

      & a {
        text-decoration: none;
        color: white;

        &:hover {
          color: var(--cyan);
        }
      }
    }
  }

  & .homepageContainer {
    background-color: #eaf8f182;
    display: grid;
    grid-template-columns: 350px 1fr 300px;
    position: relative;

    & > div:first-child {
      font-family: 'roboto', Arial, sans-serif;
      font-weight: 700;
      font-size: 1.1em;
      padding: 30px;
      text-align: center;
      position: sticky;
      top: 0;
      height: 300px;
    }

    & .sign-up-in {
      & a:first-child {
        color: white;
        background-color: #1d54a7;
        padding: 5px 13px;
        border-radius: 6px;
        &:hover {
          opacity: 0.8;
          text-decoration: none;
        }
      }

      & a {
        color: #1d54a7;
        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }
      }

      & p {
        margin-bottom: 3px;
        margin-top: 2rem;
      }
    }

    & .welcome {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      & h2 {
        color: #2e2e2e;
        font-weight: 900;
        & span {
          padding-top: 5px;
          display: block;
          color: black;
          font-style: italic;
          font-size: 0.8em;
          font-weight: 600;
          text-shadow: 1px 0px 1px var(--light-oral);
        }
      }

      & a {
        width: 180px;
        align-self: center;
        background-color: #3a7fe8;
        padding: 5px 13px;
        border-radius: 6px;
        color: white;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    & .msgContainer {
      padding: 3rem;
      display: grid;
      gap: 2rem;
      border-left: 1px solid #bebebe;

      & .messages {
        background-color: #fff9ef;
        max-width: 620px;
        padding: 25px 35px;
        border-radius: 20px;
        position: relative;

        & .author {
          display: flex;
          align-items: center;
          font-weight: 800;
          gap: 5px;
          & img {
            width: 30px;
          }
        }
        & .timestamp {
          position: absolute;
          bottom: 3%;
          right: 3%;
          font-weight: 700;
          color: #555555;
          font-size: 0.8em;
        }
        & .title {
          width: fit-content;
          font-weight: 600;
          border-bottom: 1px solid rgb(164, 164, 164);
        }
        & .message {
          padding-bottom: 13px;
        }

        & #deleteMsgForm {
          position: absolute;
          top: 8%;
          right: 3%;

          & button {
            width: fit-content;
            padding: 4px 6px;
            border: 1px solid gray;
            border-radius: 10px;
            background-color: white;
            transform: scale(85%);
            cursor: pointer;
            transition: transform 0.2s;
            box-shadow: none;

            &:hover {
              transform: scale(100%);
            }
          }

          & img {
            width: 28px;
          }
        }
      }
    }

    & .membership-link {
      position: sticky;
      top: 0;
      padding-top: 20px;
      font-weight: 700;
      height: 300px;

      & a {
        color: #1d54a7;
        &:hover {
          text-decoration: underline;
          opacity: 0.8;
        }
      }
    }
  }

  & .signup-container,
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 0.5rem;

    & ul {
      margin-top: 0;
      margin-bottom: 6px;
      list-style: none;

      & li {
        color: red;
        font-weight: 600;
      }
    }
  }

  & .sign-up-form,
  .log-in-form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 300px;

    & label {
      font-weight: 600;
    }
  }

  & .membership-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    gap: 0.6rem;

    & p {
      text-align: center;
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      min-width: 250px;
      & input {
        text-align: center;
      }

      & button {
        background-color: black;
      }
    }
  }

  & .admin-container {
    display: flex;
    justify-content: center;
    gap: 0.6rem;

    & h2 {
      text-align: center;
    }

    & p {
      text-align: center;
    }

    & .admin-pass {
      flex: 1;
      padding-top: 2rem;
    }

    & .admins-list {
      padding: 2rem 3rem;
      background-color: black;
      color: white;
    }

    & form {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      justify-self: center;
      max-width: 250px;
      & input {
        text-align: center;
      }

      & button {
        background-color: black;
      }
    }
  }

  & .new-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    & form {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      min-width: 250px;
      & input {
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        background-color: #f8f8f8;
        text-align: center;
        box-shadow: none;
      }

      & button {
        background-color: rgb(39, 176, 222);
        border-radius: 10px;
        font-size: 0.9em;
      }
    }
  }

  & .about-container {
    display: flex;
    justify-content: center;
    padding: 3rem;
    height: fit-content;

    & div {
      max-width: 40%;
      background-color: #fff9ef;
      padding: 2rem;
      border-radius: 20px;
    }
  }

  & input {
    outline: none;
    padding: 6px 9px;
    border-radius: 6px;
    border: 1px solid rgb(182, 182, 182);
    font-size: 1em;
    box-shadow: 1px 0px 1px 0px rgba(0, 0, 0, 0.3);
  }

  & textarea {
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
  }

  & button {
    margin-top: 10px;
    width: 180px;
    align-self: center;
    background-color: var(--light-oral);
    padding: 6px 13px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
    &:hover {
      opacity: 0.8;
    }
  }

  & a {
    text-decoration: none;
  }

  & footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-around;
    gap: 2px;
    background-color: white;

    & img {
      width: 15px;
    }

    & a {
      text-decoration: none;
      font-size: 16px;
      font-weight: bold;
      color: black;
      &:hover {
        color: #1b57b1;
      }
    }
    & .credits {
      & a:hover .github-logo {
        filter: invert(18%) sepia(100%) saturate(2000%) hue-rotate(190deg)
          brightness(104%) contrast(109%);
      }
    }
  }
}
