body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  & header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 40px;
    border-bottom: 1px solid rgb(231, 231, 231);

    & h1 {
      margin: 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & img {
        width: 40px;
      }
    }

    & img {
      width: 15px;
    }
  }

  & textarea {
    width: 40%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    outline: none;
  }

  & footer {
    padding: 5px 10px;
    position: fixed;
    width: 100%;
    bottom: 0;

    & img {
      width: 15px;
    }

    & .credits {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2px;

      & a {
        text-decoration: none;
        font-size: 16px;
        font-weight: bold;
        color: black;
        &:hover {
          color: red;
        }
      }
      & a:hover .github-logo {
        filter: invert(18%) sepia(100%) saturate(7463%) hue-rotate(-15deg)
          brightness(104%) contrast(109%);
      }
    }
  }
}
